<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br/>
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
          <%= pluralize(@user.faves.count, 'favorites') %>
        </small>
      </div>
    </div>
  </div>
</div>

<div class="display">
<h2>Favorites</h2>
  <li class="pull-left"><%= image_tag avatar_url, class: 'media-object' %><%= users_favorites(@user.faves) %></li>

<h2>Posts</h2>
<%= users_posts(@user.posts) %>

<h2>Comments</h2>
<%= users_comments(@user.comments) %>
</div>